1-Importar las librerías

In [28]:
import pandas as pd
import matplotlib.pyplot as plt

2-Lectura del archivo

In [29]:
df=pd.read_csv('C:/Users/WAGNER FERNÁNDEZ/OneDrive - POLICIA NACIONAL DE COLOMBIA/Documents/Ciencia de Datos/PROYECTOS/IMPUTACION-DE-DATOS FALTANTES/raw/offers.csv')
df.head(5)

,Id,Use Case,Status,Created Date,Close Date,Price,Discount code,Pain,Loss Reason
0,doqyhjtv,Educational Seminars,Closed Won,2019-11-17,2019-11-17,300.0,SAVEMORE50,operations,NaN
1,NaN,Sports Events,Closed Lost,2019-11-24,2019-11-25,150.0,NaN,operations,price
2,NaN,Sports Events,Closed Lost,2019-11-24,2019-11-25,768.0,HALFYEAR20G,operations,no response
3,cturqi48,Corporate Events,Closed Won,2019-05-07,2019-05-07,240.0,DISCOUNT50POWER,financial control,NaN
4,NaN,Sports Events,Closed Lost,2019-11-17,2019-11-25,240.0,SAVEMONTH50G,financial control,no response

3-Verificar los valores faltantes

In [30]:
valores_faltantes = df.isnull()
valores_faltantes

,Id,Use Case,Status,Created Date,Close Date,Price,Discount code,Pain,Loss Reason
0,False,False,False,False,False,False,False,False,True
1,True,False,False,False,False,False,True,False,False
2,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True
4,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
6125,True,False,False,False,False,False,True,False,False
6126,True,False,False,False,False,True,True,True,True
6127,False,False,False,False,False,False,False,False,False
6128,False,False,False,False,False,False,True,False,False
6129,False,False,False,False,False,False,False,False,True

4-Metodo de imoutación por interpolación

In [31]:
#Imputar los valores faltantes utilizando interpolación cúbica
df.interpolate(method='cubic', inplace=True)

#Imprimir las primeras 5 filas después de la interpolación cúbica
print("DataFrame después de la interpolación cúbica a la columna 'Price':")
print(df.head(5))

#Exportar el DataFrame interpolado a un nuevo archivo CSV
df.to_csv('C:/Users/WAGNER FERNÁNDEZ/OneDrive - POLICIA NACIONAL DE COLOMBIA/Documents/Ciencia de Datos/PROYECTOS/IMPUTACION-DE-DATOS FALTANTES/output/interpolated_offers_mean.csv', index=False)

DataFrame después de la interpolación cúbica a la columna 'Price':
         Id              Use Case       Status Created Date  Close Date  \
0  doqyhjtv  Educational Seminars   Closed Won   2019-11-17  2019-11-17
1       NaN         Sports Events  Closed Lost   2019-11-24  2019-11-25
2       NaN         Sports Events  Closed Lost   2019-11-24  2019-11-25
3  cturqi48      Corporate Events   Closed Won   2019-05-07  2019-05-07
4       NaN         Sports Events  Closed Lost   2019-11-17  2019-11-25

   Price    Discount code               Pain  Loss Reason
0  300.0       SAVEMORE50         operations          NaN
1  150.0              NaN         operations        price
2  768.0      HALFYEAR20G         operations  no response
3  240.0  DISCOUNT50POWER  financial control          NaN
4  240.0     SAVEMONTH50G  financial control  no response

C:\Users\WAGNER FERNÁNDEZ\AppData\Local\Temp\ipykernel_18688\1923126249.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='cubic', inplace=True)