In [17]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [18]:
df=pd.read_csv('C:/Users/WAGNER FERNÁNDEZ/OneDrive - POLICIA NACIONAL DE COLOMBIA/Documents/Ciencia de Datos/PROYECTOS/IMPUTACION-DE-DATOS FALTANTES/raw/offers.csv')
df.head(5)

,Id,Use Case,Status,Created Date,Close Date,Price,Discount code,Pain,Loss Reason
0,doqyhjtv,Educational Seminars,Closed Won,2019-11-17,2019-11-17,300.0,SAVEMORE50,operations,NaN
1,NaN,Sports Events,Closed Lost,2019-11-24,2019-11-25,150.0,NaN,operations,price
2,NaN,Sports Events,Closed Lost,2019-11-24,2019-11-25,768.0,HALFYEAR20G,operations,no response
3,cturqi48,Corporate Events,Closed Won,2019-05-07,2019-05-07,240.0,DISCOUNT50POWER,financial control,NaN
4,NaN,Sports Events,Closed Lost,2019-11-17,2019-11-25,240.0,SAVEMONTH50G,financial control,no response

In [19]:
# Imputar valores faltantes en columnas numéricas con la media
df_numeric = df.select_dtypes(include='number')
df_numeric_imputed = df_numeric.apply(lambda col: col.fillna(col.mean()), axis=0)

# Imputar valores faltantes en columnas alfanuméricas con un valor específico (por ejemplo, 'Sin Información')
df_non_numeric = df.select_dtypes(exclude='number')
df_non_numeric_imputed = df_non_numeric.fillna('Sin Información')

# Concatenar las columnas imputadas
df_imputed = pd.concat([df_non_numeric_imputed, df_numeric_imputed], axis=1)

#Guardar el DataFrame imputado en un nuevo archivo CSV
df_imputed.to_csv('C:/Users/WAGNER FERNÁNDEZ/OneDrive - POLICIA NACIONAL DE COLOMBIA/Documents/Ciencia de Datos/PROYECTOS/IMPUTACION-DE-DATOS FALTANTES/output/offers_imputed_mean.csv', index=False)